@model LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<form class="login_form" asp-action="Login" method="post" enctype="multipart/form-data">
    <h2>Вход</h2>
    <div class="form_group">
        <label for="login">Логин</label>
        <input type="text" class="form-control" id="login" placeholder="Введите логин" autocomplete="off">
    </div>
    <div class="form_group">
		<label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Введите пароль" autocomplete="off">
    </div>
	<button type="submit" class="btn">Войти</button>
</form>