@using System.Globalization
@using ComputerService.ViewModels
@model PageViewModel
@inject IViewLocalizer Localizer
@{
	ViewData["Title"] = @Localizer["Contacts"];
}

<h2>@Localizer["Contacts"]</h2>

<div class="page_content">
	@Html.Raw(Model.Content)
</div>