* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

body {
    background-color: #2568f9;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

    header nav ul{
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 8px 0;
    }

        header nav ul li a {
            text-decoration: none;
        }

        header nav ul li select {
            background-color: transparent;
            font-size: 16px;
            padding: 0;
            margin: 0;
            border: none;
            color: #fff;
            cursor: pointer;
            outline: none;
        }

            header nav ul li select option {
                background-color: #2568f9;
                color: #fff;
            }

    header h1 a {
        text-decoration: none;
    }

.search_bar {
    display: flex;
    height: 40px;
}

    .search_bar h1 {
        margin: 0 8px 0 0;
        font-size: 40px;
        line-height: 1em;
    }

    .search_bar input[type="search"] {
        flex-grow: 1;
        padding: 20px;
        font-size: 18px;
        border: none;
        color: #000;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .search_bar button {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 0;
        width: 60px;
        cursor: pointer;
        border-left: none;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

        .search_bar button svg {
            width: 30px;
            height: 30px;
        }

    .search_bar .search_bar_btn {
        padding: 5px 0 0 8px;
    }

        .search_bar .search_bar_btn svg {
            width: 30px;
            height: 30px;
        }

hr {
    margin: 0;
}

main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between
}

    footer p {
        margin: 8px 0;
    }

    footer nav ul {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 8px 0;
    }

.login_form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    margin: 16px auto;
}

form label {
    font-size: 18px;
}

form input {
    width: 100%;
    font-size: 18px;
    border: none;
    color: #000;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

h2 {
    font-size: 28px;
    margin: 12px 0;
}

.categories_list {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.category_item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    align-items: center;
    padding: 6px 0;
}

    .category_item input {
        background-color: transparent;
        border: none;
        width: 200px;
        height: 32px;
    }

        .category_item input::placeholder {
            color: rgba(255,255,255,0.6);
        }

.category_action_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 0;
    margin: 0 8px;
    height: 32px;
}

    .category_action_btn:disabled {
        cursor: auto;
    }

    .category_action_btn:hover:not(:disabled) {
        transform: scale(1.1);
    }

    .category_action_btn:active:not(:disabled) {
        transform: scale(0.95);
    }

    .category_action_btn svg {
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    .category_action_btn:disabled svg {
        fill: #ccc;
    }