* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

body {
    background-color: #2568f9;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

    header nav ul{
        display: flex;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 8px 0;
    }

        header nav ul li a {
            text-decoration: none;
        }

    header h1 a {
        text-decoration: none;
    }

.lang_form {
    margin: 0;
    padding: 0;
}

    .lang_form select {
        background-color: transparent;
        font-size: 16px;
        padding: 0;
        margin: 0;
        border: none;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

    .search_bar {
        display: flex;
        height: 40px;
    }

    .search_bar h1 {
        margin: 0 8px 0 0;
        font-size: 40px;
        line-height: 1em;
    }

    .search_bar input[type="search"] {
        flex-grow: 1;
        padding: 20px;
        font-size: 18px;
        border: none;
        color: #000;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    .search_bar button {
        background-color: transparent;
        border: 1px solid #fff;
        padding: 0;
        width: 60px;
        cursor: pointer;
        border-left: none;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }

        .search_bar button svg {
            width: 30px;
            height: 30px;
        }

    .search_bar .search_bar_btn {
        padding: 5px 0 0 8px;
    }

        .search_bar .search_bar_btn svg {
            width: 30px;
            height: 30px;
        }

hr {
    margin: 0;
}

main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between
}

    footer p {
        margin: 8px 0;
    }

    footer nav ul {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        list-style: none;
        padding: 0;
        margin: 8px 0;
    }

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 400px;
    margin: 16px auto;
}

form label {
    font-size: 18px;
}

form input,
form select,
form textarea {
    width: 100%;
    font-size: 18px;
    border: none;
    color: #000;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

    form textarea {
        resize: vertical;
        max-height: 200px;
        min-height: 20px;
    }

    form input[type=checkbox] {
        width: auto;
    }

form select option {
    background-color: #fff;
    color: #000;
}

.btn {
    width: 100%;
    margin: 0;
    padding: 8px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

h2 {
    font-size: 28px;
    margin: 12px 0;
    text-align: center;
}

.categories_list {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.category_item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    align-items: center;
    padding: 6px 0;
}

    .category_item input {
        background-color: transparent;
        border: none;
        width: 200px;
        height: 32px;
    }

        .category_item input::placeholder {
            color: rgba(255,255,255,0.6);
        }

.category_action_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 0;
    margin: 0 8px;
    height: 32px;
}

    .category_action_btn:disabled {
        cursor: auto;
    }

    .category_action_btn:hover:not(:disabled) {
        transform: scale(1.1);
    }

    .category_action_btn:active:not(:disabled) {
        transform: scale(0.95);
    }

    .category_action_btn svg {
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    .category_action_btn:disabled svg {
        fill: #ccc;
    }

.product_edit {
    max-width: 100%;
    width: 400px;
}

.btn_group {
    display: flex;
    gap: 8px;
}

.form_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.drop_zone {
    border: 2px dashed #fff;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
}

    .drop_zone p {
        margin: auto;
        font-size: 18px;
    }

.drop_zone.drag_over {
    background-color: rgba(255, 255, 255, 0.1);
}

.images_upload_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.preview_item {
    position: relative;
    width: 120px;
    height: 120px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

    .preview_item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .preview_item .remove_btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: rgba(0,0,0,0.6);
        color: white;
        border: none;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        cursor: pointer;
        padding: 4px;
    }

    .preview_item .remove_btn:hover {
        transform: scale(1.05);
    }

        .remove_btn svg {
            width: 16px;
            height: 16px;
            fill: #fff;
        }

.products_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.product_item {
    border: 1px solid rgba(255,255,255,0.3);
    padding: 8px;
    width: 240px;
    height: 308px;
    display: block;
    text-decoration: none;
    position: relative;
}

h3.add_product {
    text-align: center;
    margin: 0;
}

.product_item svg {
    margin: auto;
    display: block;
    height: 80px;
    width: 80px;
    fill: #fff;
}

    .product_item:hover {
        text-decoration: underline;
    }

    .product_item img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

.product_image {
    height: 200px;
    display: flex;
    justify-content: center;

}

.product_item .price {
    font-size: 24px;
    font-weight: bold;
}

    .product_item h3 {
        margin: 4px 0;
    }


.no_translation svg {
    fill: #fff;
    width: 28px;
    height: 28px;
    vertical-align: -4px;
}

.tox-tinymce {
    margin-bottom: 16px;
}

.news_list {
    width: 400px;
    margin: 0 auto;
}

.news_list .btn {
    width: 100%;
    display: block;
    text-align: center;
}

.news_item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

    .news_item span {
        float: right;
        color: rgba(255, 255, 255, 0.6);
    }

    .news_item p {
        margin: 0;
    }

    .news_item h3 {
        margin-bottom: 4px;
    }

#editablediv {
    background: #fff;
    padding: 8px;
}

    #editablediv * {
        color: #000;
        margin: 0;
    }

.users_list {
    width: 600px;
    margin: 0 auto;
}

.user_item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    align-items: center;
    padding: 6px 0;
}

    .user_item input {
        background-color: transparent;
        border: none;
        height: 32px;
    }

        .user_item input::placeholder {
            color: rgba(255,255,255,0.6);
        }

.user_inputs {
    display: flex;
}

.user_inputs a {
    display: block;
    width: 155px;
    line-height: 34px;
}

.user_action_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 4px 0;
    margin: 0 8px;
    height: 32px;
}

    .user_action_btn:disabled {
        cursor: auto;
    }

    .user_action_btn:hover:not(:disabled) {
        transform: scale(1.1);
    }

    .user_action_btn:active:not(:disabled) {
        transform: scale(0.95);
    }

    .user_action_btn svg {
        width: 24px;
        height: 24px;
        fill: #fff;
    }

    .user_action_btn:disabled svg {
        fill: #ccc;
    }